@page
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!doctype html>
<html class="no-js" lang="zxx">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> - Car Accessories Shop HTML Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico">

    <environment include="Development">
        <link rel="stylesheet" href="~/css/vendor/bootstrap.min.css">

        <link rel="stylesheet" href="~/css/vendor/font-awesome.css">

        <link rel="stylesheet" href="~/css/vendor/fontawesome-stars.css">

        <link rel="stylesheet" href="~/css/vendor/ion-fonts.css">

        <link rel="stylesheet" href="~/css/plugins/slick.css">

        <link rel="stylesheet" href="~/css/plugins/animate.css">

        <link rel="stylesheet" href="~/css/plugins/jquery-ui.min.css">

        <link rel="stylesheet" href="~/css/plugins/lightgallery.min.css">

        <link rel="stylesheet" href="~/css/plugins/nice-select.css">


        <link rel="stylesheet" href="~/css/style.css">
    </environment>

</head>

<body class="template-color-1">

    <div class="main-wrapper">




        <div class="uren-slider_area uren-slider_area-3">
            <div class="main-slider slider-navigation_style-2">

                <div class="single-slide animation-style-01 bg-5">
                    <div class="slider-content">

                    </div>
                </div>
            </div>
          

        </div>
    </div>

    <!-- Begin Uren's Banner Two Area -->
    <div class="uren-banner_area uren-banner_area-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="banner-item img-hover_effect">
                        <a href="shop-left-sidebar.html">
                            <img class="img-full" src="~/images/banner/3-1.jpg" alt="Uren's Banner">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="banner-item img-hover_effect">
                        <a href="shop-left-sidebar.html">
                            <img class="img-full" src="~/images/banner/3-2.jpg" alt="Uren's Banner">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="banner-item img-hover_effect">
                        <a href="shop-left-sidebar.html">
                            <img class="img-full" src="~/images/banner/3-3.jpg" alt="Uren's Banner">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Uren's Banner Two Area End Here -->
    <!-- Begin Uren's Shipping Area -->
    <div class="uren-shipping_area">
        <div class="container-fluid">
            <div class="shipping-nav">
                <div class="row no-gutters">
                    <div class="shipping-grid">
                        <div class="shipping-item">
                            <div class="shipping-icon">
                                <i class="ion-ios-paperplane-outline"></i>
                            </div>
                            <div class="shipping-content">
                                <h6>Free Shipping</h6>
                                <p>Free shipping on all US order</p>
                            </div>
                        </div>
                    </div>
                    <div class="shipping-grid">
                        <div class="shipping-item">
                            <div class="shipping-icon">
                                <i class="ion-ios-help-outline"></i>
                            </div>
                            <div class="shipping-content">
                                <h6>Support 24/7</h6>
                                <p>Contact us 24 hours a day</p>
                            </div>
                        </div>
                    </div>
                    <div class="shipping-grid">
                        <div class="shipping-item">
                            <div class="shipping-icon">
                                <i class="ion-ios-refresh-empty"></i>
                            </div>
                            <div class="shipping-content">
                                <h6>100% Money Back</h6>
                                <p>You have 30 days to Return</p>
                            </div>
                        </div>
                    </div>
                    <div class="shipping-grid">
                        <div class="shipping-item">
                            <div class="shipping-icon">
                                <i class="ion-ios-undo-outline"></i>
                            </div>
                            <div class="shipping-content">
                                <h6>90 Days Return</h6>
                                <p>If goods have problems</p>
                            </div>
                        </div>
                    </div>
                    <div class="shipping-grid">
                        <div class="shipping-item">
                            <div class="shipping-icon">
                                <i class="ion-ios-locked-outline"></i>
                            </div>
                            <div class="shipping-content last-child">
                                <h6>Payment Secure</h6>
                                <p>We ensure secure payment</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>








    <!-- Featured Categories Area End Here -->
    <!-- Begin Multiple Section Area -->
    <div class="multiple-section_area bg--white_smoke">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3">
                    <div class="special-product_wrap img-hover-effect_area-2">
                        <div class="section-title_area bg--white">
                            <span>Special Offer Limited Time</span>
                            <h3>Deal Of The Day</h3>
                        </div>
                        <div class="special-product_slider-2 uren-slick-slider slider-navigation_style-1 img-hover-effect_area" data-slick-options='{
                        "slidesToShow": 1,
                        "arrows" : true
                        }' data-slick-responsive='[
                            {"breakpoint":1200, "settings": {"slidesToShow": 3}},
                            {"breakpoint":992, "settings": {"slidesToShow": 2}},
                            {"breakpoint":768, "settings": {"slidesToShow": 1}},
                            {"breakpoint":576, "settings": {"slidesToShow": 1}}
                        ]'>

                            <div class="slide-item">
                                <div class="inner-slide">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img class="primary-img" src="~/images/product/medium-size/4-2.jpg" alt="Uren's Product Image">
                                                <img class="secondary-img" src="~/images/product/medium-size/5-2.jpg" alt="Uren's Product Image">
                                            </a>
                                            <div class="sticker-area-2">
                                                <span class="sticker-2">-10%</span>
                                                <span class="sticker">New</span>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-desc_info">
                                                <div class="uren-countdown_area">
                                                    <span class="product-offer">Hurry up! Offer ends</span>
                                                    <div class="countdown-wrap">

                                                    </div>
                                                </div>
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                    </ul>
                                                </div>
                                                <h6 class="product-name">
                                                    <a href="single-product.html">
                                                       Brakes
                                                    </a>
                                                </h6>
                                                <div class="price-box">
                                                    <span class="new-price new-price-2">$110.00</span>
                                                    <span class="old-price">$122.00</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            
                            <div class="slide-item">
                                <div class="inner-slide">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img class="primary-img" src="~/images/product/medium-size/4-2.jpg" alt="Uren's Product Image">
                                                <img class="secondary-img" src="~/images/product/medium-size/3-1.jpg" alt="Uren's Product Image">
                                            </a>
                                            <div class="sticker-area-2">
                                                <span class="sticker-2">-20%</span>
                                                <span class="sticker">New</span>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-desc_info">
                                                <div class="uren-countdown_area">
                                                    <span class="product-offer">Hurry up! Offer ends</span>
                                                    <div class="countdown-wrap">

                                                    </div>
                                                </div>
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        <li class="silver-color"><i class="ion-android-star"></i></li>
                                                    </ul>
                                                </div>
                                                <h6 class="product-name">
                                                    <a href="single-product.html">
                                                        Oil Holder
                                                    </a>
                                                </h6>
                                                <div class="price-box">
                                                    <span class="new-price new-price-2">$90.00</span>
                                                    <span class="old-price">$100.00</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="list-product_wrap img-hover-effect_area-2 bg--white">
                                <div class="section-title_area bg--white">
                                    <span>Top Featured On This Week</span>
                                    <h3>Featured Products</h3>
                                </div>
                                <div class="list-product_slider uren-slick-slider slider-navigation_style-1 section-space_mn-30 img-hover-effect_area" data-slick-options='{
                                "slidesToShow": 1,
                                "arrows" : true,
                                "rows": 4
                               }' data-slick-responsive='[
                                    {"breakpoint":1501, "settings": {"slidesToShow": 1}},
                                    {"breakpoint":1200, "settings": {"slidesToShow": 2}},
                                    {"breakpoint":768, "settings": {"slidesToShow": 1}}
                               ]'>
                                    <div class="slide-item">
                                        <div class="inner-slide">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="shop-left-sidebar.html">
                                                        <img src="~/images/product/medium-size/1-1.jpg" alt="Uren's Product Image">
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <h3 class="product-name">
                                                        <a href="shop-left-sidebar.html">
                                                           Wheels
                                                        </a>
                                                    </h3>
                                                    <div class="price-box">
                                                        <span class="new-price">$122.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-item">
                                        <div class="inner-slide">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="shop-left-sidebar.html">
                                                        <img src="~/images/product/medium-size/2-1.jpg" alt="Uren's Product Image">
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <h3 class="product-name">
                                                        <a href="shop-left-sidebar.html">
                                                            Accessories
                                                        </a>
                                                    </h3>
                                                    <div class="price-box">
                                                        <span class="new-price">$150.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-item">
                                        <div class="inner-slide">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="shop-left-sidebar.html">
                                                        <img src="~/images/product/medium-size/3-1.jpg" alt="Uren's Product Image">
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <h3 class="product-name">
                                                        <a href="shop-left-sidebar.html">
                                                            Oil Holder
                                                        </a>
                                                    </h3>
                                                    <div class="price-box">
                                                        <span class="new-price">$180.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-item">
                                        <div class="inner-slide">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="shop-left-sidebar.html">
                                                        <img src="~/images/product/medium-size/4-1.jpg" alt="Uren's Product Image">
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <h3 class="product-name">
                                                        <a href="shop-left-sidebar.html">
                                                            Wheels
                                                        </a>
                                                    </h3>
                                                    <div class="price-box">
                                                        <span class="new-price">$116.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-item">
                                        <div class="inner-slide">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="shop-left-sidebar.html">
                                                        <img src="~/images/product/medium-size/1-2.jpg" alt="Uren's Product Image">
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <h3 class="product-name">
                                                        <a href="shop-left-sidebar.html">
                                                            Cup Holder
                                                        </a>
                                                    </h3>
                                                    <div class="price-box">
                                                        <span class="new-price">$122.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-item">
                                        <div class="inner-slide">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="shop-left-sidebar.html">
                                                        <img src="~/images/product/medium-size/2-2.jpg" alt="Uren's Product Image">
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <h3 class="product-name">
                                                        <a href="shop-left-sidebar.html">
                                                           Tube
                                                        </a>
                                                    </h3>
                                                    <div class="price-box">
                                                        <span class="new-price">$150.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="slide-item">
                                        <div class="inner-slide">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="shop-left-sidebar.html">
                                                        <img src="~/images/product/medium-size/1-1.jpg" alt="Uren's Product Image">
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <h3 class="product-name">
                                                        <a href="shop-left-sidebar.html">
                                                            Wheels
                                                        </a>
                                                    </h3>
                                                    <div class="price-box">
                                                        <span class="new-price">$122.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="list-product_wrap img-hover-effect_area-2 bg--white">
                                <div class="section-title_area bg--white">
                                    <span>Most View On This Week</span>
                                    <h3>Most View Products</h3>
                                </div>
                                <div class="list-product_slider uren-slick-slider slider-navigation_style-1 section-space_mn-30 img-hover-effect_area" data-slick-options='{
                                "slidesToShow": 1,
                                "arrows" : true,
                                "rows": 4
                               }' data-slick-responsive='[
                                    {"breakpoint":1501, "settings": {"slidesToShow": 1}},
                                    {"breakpoint":1200, "settings": {"slidesToShow": 2}},
                                    {"breakpoint":768, "settings": {"slidesToShow": 1}}
                                                 ]'>
                                    <div class="slide-item">
                                        <div class="inner-slide">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="shop-left-sidebar.html">
                                                        <img src="~/images/product/medium-size/1-2.jpg" alt="Uren's Product Image">
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <h3 class="product-name">
                                                        <a href="shop-left-sidebar.html">
                                                            Cup Holder
                                                        </a>
                                                    </h3>
                                                    <div class="price-box">
                                                        <span class="new-price">$122.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-item">
                                        <div class="inner-slide">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="shop-left-sidebar.html">
                                                        <img src="~/images/product/medium-size/2-2.jpg" alt="Uren's Product Image">
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <h3 class="product-name">
                                                        <a href="shop-left-sidebar.html">
                                                          Tube
                                                        </a>
                                                    </h3>
                                                    <div class="price-box">
                                                        <span class="new-price">$150.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-item">
                                        <div class="inner-slide">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="shop-left-sidebar.html">
                                                        <img src="~/images/product/medium-size/3-2.jpg" alt="Uren's Product Image">
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <h3 class="product-name">
                                                        <a href="shop-left-sidebar.html">
                                                          Brakes
                                                        </a>
                                                    </h3>
                                                    <div class="price-box">
                                                        <span class="new-price">$180.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-item">
                                        <div class="inner-slide">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="shop-left-sidebar.html">
                                                        <img src="~/images/product/medium-size/4-2.jpg" alt="Uren's Product Image">
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <h3 class="product-name">
                                                        <a href="shop-left-sidebar.html">
                                                           Accessories
                                                        </a>
                                                    </h3>
                                                    <div class="price-box">
                                                        <span class="new-price">$116.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    
                                    <div class="slide-item">
                                        <div class="inner-slide">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="shop-left-sidebar.html">
                                                        <img src="~/images/product/medium-size/4-1.jpg" alt="Uren's Product Image">
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <h3 class="product-name">
                                                        <a href="shop-left-sidebar.html">
                                                           Wheels
                                                        </a>
                                                    </h3>
                                                    <div class="price-box">
                                                        <span class="new-price">$116.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-item">
                                        <div class="inner-slide">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="shop-left-sidebar.html">
                                                        <img src="~/images/product/medium-size/2-2.jpg" alt="Uren's Product Image">
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <h3 class="product-name">
                                                        <a href="shop-left-sidebar.html">
                                                         Tube
                                                        </a>
                                                    </h3>
                                                    <div class="price-box">
                                                        <span class="new-price">$150.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-item">
                                        <div class="inner-slide">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="shop-left-sidebar.html">
                                                        <img src="~/images/product/medium-size/3-2.jpg" alt="Uren's Product Image">
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <h3 class="product-name">
                                                        <a href="shop-left-sidebar.html">
                                                          Brakes
                                                        </a>
                                                    </h3>
                                                    <div class="price-box">
                                                        <span class="new-price">$180.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="list-product_wrap img-hover-effect_area-2 bg--white">
                                <div class="section-title_area bg--white">
                                    <span>On-Sale On This Week</span>
                                    <h3>On-Sale Products</h3>
                                </div>
                                <div class="list-product_slider uren-slick-slider slider-navigation_style-1 img-hover-effect_area" data-slick-options='{
                                "slidesToShow": 1,
                                "arrows" : true,
                                "rows": 4
                               }' data-slick-responsive='[
                                    {"breakpoint":1501, "settings": {"slidesToShow": 1}},
                                    {"breakpoint":1200, "settings": {"slidesToShow": 2}},
                                    {"breakpoint":768, "settings": {"slidesToShow": 1}}
                                                 ]'>
                                    <div class="slide-item">
                                        <div class="inner-slide">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="shop-left-sidebar.html">
                                                        <img src="~/images/product/medium-size/3-2.jpg" alt="Uren's Product Image">
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <h3 class="product-name">
                                                        <a href="shop-left-sidebar.html">
                                                           Brakes
                                                        </a>
                                                    </h3>
                                                    <div class="price-box">
                                                        <span class="new-price">$180.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-item">
                                        <div class="inner-slide">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="shop-left-sidebar.html">
                                                        <img src="~/images/product/medium-size/4-2.jpg" alt="Uren's Product Image">
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <h3 class="product-name">
                                                        <a href="shop-left-sidebar.html">
                                                            Accessories
                                                        </a>
                                                    </h3>
                                                    <div class="price-box">
                                                        <span class="new-price">$116.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-item">
                                        <div class="inner-slide">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="shop-left-sidebar.html">
                                                        <img src="~/images/product/medium-size/1-2.jpg" alt="Uren's Product Image">
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <h3 class="product-name">
                                                        <a href="shop-left-sidebar.html">
                                                          Cup Holder
                                                        </a>
                                                    </h3>
                                                    <div class="price-box">
                                                        <span class="new-price">$122.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-item">
                                        <div class="inner-slide">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="shop-left-sidebar.html">
                                                        <img src="~/images/product/medium-size/2-2.jpg" alt="Uren's Product Image">
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <h3 class="product-name">
                                                        <a href="shop-left-sidebar.html">
                                                          Tube
                                                        </a>
                                                    </h3>
                                                    <div class="price-box">
                                                        <span class="new-price">$150.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-item">
                                        <div class="inner-slide">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="shop-left-sidebar.html">
                                                        <img src="~/images/product/medium-size/1-1.jpg" alt="Uren's Product Image">
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <h3 class="product-name">
                                                        <a href="shop-left-sidebar.html">
                                                           Wheels
                                                        </a>
                                                    </h3>
                                                    <div class="price-box">
                                                        <span class="new-price">$122.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-item">
                                        <div class="inner-slide">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="shop-left-sidebar.html">
                                                        <img src="~/images/product/medium-size/2-1.jpg" alt="Uren's Product Image">
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <h3 class="product-name">
                                                        <a href="shop-left-sidebar.html">
                                                          Brakes
                                                        </a>
                                                    </h3>
                                                    <div class="price-box">
                                                        <span class="new-price">$150.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-item">
                                        <div class="inner-slide">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="shop-left-sidebar.html">
                                                        <img src="~/images/product/medium-size/3-1.jpg" alt="Uren's Product Image">
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <h3 class="product-name">
                                                        <a href="shop-left-sidebar.html">
                                                          Oil Filter
                                                        </a>
                                                    </h3>
                                                    <div class="price-box">
                                                        <span class="new-price">$180.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    
</body>
</html>









