@page
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!doctype html>
<html lang="zxx">


<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Uren Preview</title>

    <meta content="INDEX,FOLLOW" name="robots" />
    <meta content="width=device-width, minimum-scale=1, maximum-scale=1" name="viewport" />


    <link rel="stylesheet" type="text/css" href="~/css/css/style.css" />

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700" rel="stylesheet" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/vendor/bootstrap.min.css">

        <link rel="stylesheet" href="~/css/vendor/font-awesome.css">

        <link rel="stylesheet" href="~/css/vendor/fontawesome-stars.css">

        <link rel="stylesheet" href="~/css/vendor/ion-fonts.css">

        <link rel="stylesheet" href="~/css/plugins/slick.css">

        <link rel="stylesheet" href="~/css/plugins/animate.css">

        <link rel="stylesheet" href="~/css/plugins/jquery-ui.min.css">

        <link rel="stylesheet" href="~/css/plugins/lightgallery.min.css">

        <link rel="stylesheet" href="~/css/plugins/nice-select.css">


        <link rel="stylesheet" href="~/css/style.css">
    </environment>
</head>
<body>
    <div class="wrapper">
        <div class="page">
            <header>
                <div id="slider">
                    <img src="~/images/breadcrumb/1.jpg" alt="Product Image">
                    <div class="text-content">
                        <h3 class="title1">
                        </h3>


                    </div>

                </div>
            </header>
            <div class="main_content">
                <div class="select-page box-main">
                    <div class="container-inner">
                        <div class="title">
                            <h3 class="txt1">Select Interior Products</h3>

                        </div>



                        <div class="row">
                            <div class="col-xs-6 col-sm-4">
                                <div class="box">
                                    <a asp-area="" asp-page="/SingleProducts/Interior/Seats" target="_blank">
                                        <img src="~/images/product/medium-size/7-2.jpg" alt="slider-landing" />

                                        <span>Seats</span>
                                    </a>
                                </div>
                            </div>



                            <div class="col-xs-6 col-sm-4">
                                <div class="box">
                                    <a asp-area="" asp-page="/SingleProducts/Interior/Steering" target="_blank">
                                        <img src="~/images/product/medium-size/8-1.jpg" alt="slider-landing" />

                                        <span>Steering Wheel</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <div class="box">
                                    <a asp-area="" asp-page="/SingleProducts/Interior/Holder" target="_blank">
                                        <img src="~/images/product/medium-size/1-2.jpg" alt="slider-landing" />

                                        <span>Cup Holder</span>
                                    </a>
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-4">
                                <div class="box">
                                    <a asp-area="" asp-page="/SingleProducts/Interior/Cover" target="_blank">
                                        <img src="~/images/product/medium-size/cover.jpg" alt="Product Image">

                                        <span>Handbrake cover</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <div class="box">
                                    <a href="blog/blog-audio-format.html" target="_blank">
                                        <img src="~/images/product/medium-size/2-1.jpg" alt="slider-landing" />

                                        <span>Accessories</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <div class="box">
                                    <a href="blog/blog-audio-format.html" target="_blank">
                                        <img src="~/images/product/medium-size/seatcover.jpg" alt="Product Image">

                                        <span>Seat Cover</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <footer>
            </footer>
        </div>
    </div>
</body>

</html>